name: "BWALink"
description: "This Balboa Worldwide App Addon is used to interact with Wifi spa controllers from Balboa Water Group using a serial to ip gateway."
version: "2026.2.2"
slug: "bwalink"
init: false
apparmor: true
hassio_api: true
hassio_role: default
codenotary: ryansteel87@gmail.com
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
url: https://github.com/dogtreatfairy/bwalink-ha-addon
startup: application
panel_icon: mdi:hot-tub
boot: auto
services:
  - mqtt:want
options:
  bridge_ip: null
  bridge_port: 8899
  socat: false
  log_level: WARN
schema:
  bridge_ip: str
  bridge_port: port
  socat: bool
  mqtt_uri: url?
  log_level: list(FATAL|ERROR|WARN|INFO|DEBUG)
